<article class="border-light-gray border-4 divide-gray divide-y">
  <Section @open={{eq this.state.step "upload"}} @title="Upload">
    <Uploader />
  </Section>
  <Section @open={{eq this.state.step "place"}} @title="Place">
    <Map />
  </Section>
  <Section @open={{eq this.state.step "download"}} @title="Download">
    <Downloader />
  </Section>
  <p>csv uuid: {{this.state.placeUuid}}</p>
  <p>map uuid: {{this.state.mapUuid}}</p>
  <p>typedPlaces: {{this.state.typedPlaces}}</p>
</article>

