{{#let (file-queue name="files" onFileAdded=this.uploadFile) as |queue|}}
<FileDropzone
  @queue={{queue}} 
  @filter={{this.validateFile}}
  as |dropzone|>
    {{#if dropzone.active}}
      Drop to upload
    {{else if queue.files.length}}
      Uploading {{queue.files.length}} files. ({{queue.progress}}%)


    {{else if dropzone.supported}}
      <div class="flex flex-col justify-center items-center
      w-full py-20 border-blue space-y-4 border-dotted border-4 bg-blue">
        <h2 class="text-9xl">🗺📊</h2>
        <p class="text-2xl text-white">Drag and drop your map file and places .csv here.</p>
      </div>
    {{else}}
      <input type="file" {{queue.selectFile filter=this.validateFile}}>
    {{/if}}
  </FileDropzone>
  <QueueTable @queue={{queue}}/>
{{/let}}
