{{#if this.state.placesData}}
  <div class="relative z-[2000]">
    <label for="places-data-column-select">Places data column for popups</label>
    <PowerSelect
      @selected={{this.state.placesDataNameColumn}}
      @options={{this.keys}}
      @onChange={{this.setPlacesDataNameColumn}}
      @triggerId="places-data-column-select"
      @dropdownClass="z-[2000]"
      as |key|>
      {{key}}
    </PowerSelect>

  </div>
{{/if}}

<LeafletMap 
  @lat={{0}} 
  @lng={{0}} 
  @zoom={{0}} 
  @crs={{this.crs}}
  @closePopupOnClick={{false}}
  @maxZoom={{this.maxZoom}}
  @onClick={{this.handleClick}}
  @onLoad={{this.handleLoad}}
  as |layers| >
  <layers.tile @url={{this.tileUrl}} @zoomOffset={{-1}}/>

  {{#each this.state.places as |place index|}}
    <layers.marker
      @icon={{color-marker index}}
      @draggable={{true}}
      @lat={{place.antirubbersheeterLat}}
      @lng={{place.antirubbersheeterLng}}
      @onDragend={{this.updateCoordinates}}
      @title={{place.antirubbersheeterId}}
      as |marker|
    >
      <marker.popup @popupOpen={{eq index this.lastPlaceIndex}}>
        {{#let (get place this.state.placesDataNameColumn) as |name|}}
          <p>{{if name name (concat "(no value given in column “" this.state.placesDataNameColumn "”)")}}</p>
        {{/let}}
      </marker.popup>
    </layers.marker>
  {{/each}}
</LeafletMap>

<Button {{on "click" this.moveToDownload}}>Save Changes and Bundle Tiles with Data</Button>
