<div class="p-3 w-1/2">
  {{#if @file}}
    <h3 class="text-3xl text-gray">
      {{#if (eq @type "image")}}
        Map Image
      {{else}}
        Spatial Data
      {{/if}}
    </h3>
    <div class="grid grid-cols-4 text-3xl p-2"> 
      <div class="text-right bg-light-gray p-3">
        <p>Name:</p>
      </div>
      <div class="col-span-3 p-3">
        <p>
          {{@file.name}}
        </p>
      </div>
      <div class="text-right bg-light-gray p-3">
        <p>Size:</p>
      </div>
      <div class="col-span-3 p-3">
        <p>
          {{format-size @file.size}}
        </p>
      </div>
      <div class="text-right bg-light-gray p-3">
        <p>Type:</p>
      </div>
      <div class="col-span-3 p-3">
        <p>
          {{@file.type}}
        </p>
      </div>
    </div>
  {{else}}
    {{#if (eq @type "image")}}
      <h3 class="text-3xl text-gray italic">
      No map uploaded.
      </h3>
    {{else}}
      <h3 class="text-3xl text-gray italic">
      No spatial data uploaded.
      </h3>

      <p class="text-2xl py-3">In lieu of uploading a .csv file, you can paste in a comma-separated list of places below:</p>
      <label for="comma-places" class="block sr-only">
        Places
      </label>
      <Textarea
        class="placeholder:text-gray placeholder:italic bg-light-gray text-dark-blue w-full p-3 text-xl"
        id="comma-places"
        @value={{@inputtedPlaceNames}}
        placeholder="Sutpen’s Hundred, Belle Mitchell’s, Varner’s Store, Sartoris Plantation…"
        rows="3"
        />
    {{/if}}
  {{/if}}
</div>

