{{#let @layers as |layers|}}
  <layers.marker
    @icon={{color-marker @index}}
    @draggable={{true}}
    @lat={{@place.antirubbersheeterLat}}
    @lng={{@place.antirubbersheeterLng}}
    @onDragend={{this.updateCoordinates}}
    @title={{@place.antirubbersheeterId}}
    as |marker|
  >
    <marker.popup @popupOpen={{eq @index this.lastPlaceIndex}}>
      {{#let (get @place this.state.placesDataNameColumn) as |name|}}
        <p>{{if name name (concat "(no value given in column “" this.state.placesDataNameColumn "”)")}}</p>
      {{/let}}
    </marker.popup>
  </layers.marker>
{{/let}}
